@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif; }

p {
  margin: 0;
  padding: 0; }

.wrapper {
  height: 100%;
  width: 100%;
  top: 0; }

.color-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-color: rgba(52, 73, 94, 0.7);
  display: none; }

.reveal {
  display: block; }

.container1 {
  height: 100%;
  width: 100%;
  display: flex; }
  .container1 .sidebar-open {
    transform: translateX(0); }

.smalldevice-header {
  height: 50px;
  position: fixed;
  top: 0;
  background-color: black;
  width: 100%;
  z-index: 4;
  background-color: DodgerBlue;
  display: none;
  background-color: DodgerBlue; }
  @media screen and (max-width: 760px) {
    .smalldevice-header {
      display: block; } }
  .smalldevice-header .rightsidebar-open {
    transform: translateX(0); }
  .smalldevice-header ul {
    position: fixed;
    top: 0px;
    right: 0;
    padding: 0;
    margin: 0;
    background-color: white;
    color: black;
    z-index: 5;
    width: 28%;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateX(100%);
    transition: transform 0.5s;
    transition-timing-function: ease; }
    .smalldevice-header ul li {
      padding-top: 8px;
      list-style-type: none;
      height: 30px;
      padding-left: 12px;
      cursor: pointer;
      color: #37474F z; }
  .smalldevice-header p {
    position: fixed;
    top: 12px;
    left: 50px;
    color: white;
    font-size: 20px;
    font-weight: bold; }
  .smalldevice-header i {
    position: fixed;
    color: white;
    font-size: 25px;
    top: 12px; }
  .smalldevice-header .fa-bars {
    left: 12px; }
  .smalldevice-header .fa-ellipsis-v {
    right: 12px; }

.flex-sidebar {
  height: 100%;
  width: 23%;
  background-color: #2c3e50;
  position: relative; }
  .flex-sidebar h2 {
    padding-top: 40px;
    padding-left: 35px;
    padding-bottom: 40px;
    color: white;
    font-weight: 400; }
  .flex-sidebar .template-cate {
    margin: 0;
    padding: 0; }
    .flex-sidebar .template-cate .list-active {
      background-color: #34495e;
      color: #ecf0f1; }
    .flex-sidebar .template-cate li:first-child {
      border-top: 1px solid #283645; }
    .flex-sidebar .template-cate li {
      list-style-type: none;
      color: white;
      border-bottom: 1px solid #283645;
      height: 50px;
      display: flex;
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;
      color: #bdc3c7;
      cursor: pointer; }
      .flex-sidebar .template-cate li:hover {
        background-color: #34495e; }
        .flex-sidebar .template-cate li:hover p {
          color: #ecf0f1; }
        .flex-sidebar .template-cate li:hover i {
          color: #ecf0f1; }
      .flex-sidebar .template-cate li i {
        font-size: 22px;
        padding-right: 20px; }
      .flex-sidebar .template-cate li p {
        margin: 0;
        padding: 0; }
  .flex-sidebar .fa-times {
    color: white;
    font-size: 25px;
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    display: none; }
  .flex-sidebar .contact-info {
    margin-top: 40px;
    border: 2px solid #bdc3c7;
    height: 10%;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3px;
    align-items: center;
    background-color: #34495e;
    color: #bdc3c7;
    cursor: pointer;
    transition: color 2s;
    transition-timing-function: ease; }
    .flex-sidebar .contact-info:hover {
      color: #ecf0f1; }
      .flex-sidebar .contact-info:hover h3 {
        color: #2ecc71; }
    .flex-sidebar .contact-info i {
      font-size: 55px;
      padding-left: 10px; }
    .flex-sidebar .contact-info .contact-desc {
      padding-left: 17px; }
      .flex-sidebar .contact-info .contact-desc h3 {
        margin: 0;
        padding: 0; }
  .flex-sidebar .social-icon {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 15px;
    width: 100%;
    border-top: 2px solid #283645; }
    .flex-sidebar .social-icon li {
      padding-top: 10px;
      list-style-type: none; }
      .flex-sidebar .social-icon li i {
        color: white;
        font-size: 25px;
        color: #bdc3c7;
        cursor: pointer; }
        .flex-sidebar .social-icon li i:hover {
          color: #ecf0f1; }
  @media screen and (max-width: 760px) {
    .flex-sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 70%;
      z-index: 5;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      transform: translateX(-100%);
      transition: transform 0.5s;
      transition-timing-function: ease; }
      .flex-sidebar .fa-times {
        display: block; } }

.mainBody {
  height: 100%;
  width: 77%;
  background-color: white; }
  .mainBody .flex-template {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: flex-start;
    padding-left: 6%;
    padding-right: 20px; }
    .mainBody .flex-template .flex-templateCard {
      height: 310px;
      width: 212px;
      border-radius: 1px;
      margin: 10px;
      position: relative; }
      .mainBody .flex-template .flex-templateCard img {
        height: 86%;
        width: 100%;
        cursor: pointer;
        border-radius: 1px; }
      .mainBody .flex-template .flex-templateCard i {
        position: absolute;
        top: 10px;
        left: 10px;
        color: #ecf0f1;
        font-size: 30px;
        cursor: pointer; }
        .mainBody .flex-template .flex-templateCard i:hover {
          color: #4CAF50; }
      .mainBody .flex-template .flex-templateCard .description {
        position: relative;
        height: 14%;
        bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid #ecf0f1;
        border-top: none; }
  @media screen and (max-width: 760px) {
    .mainBody {
      width: 100%;
      margin-top: 14%;
      height: 92%; }
      .mainBody .flex-template {
        padding: 0;
        justify-content: space-around; }
        .mainBody .flex-template .flex-templateCard {
          height: 29%;
          width: 36%;
          margin-top: 10px; }
          .mainBody .flex-template .flex-templateCard .img {
            height: 93%; }
          .mainBody .flex-template .flex-templateCard .description {
            height: 7%;
            padding-left: 5px;
            font-size: 13px; } }

/*# sourceMappingURL=template.css.map */
